/*Coded by APR*/
body{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    background-color: whitesmoke;
    display: flex;
    margin: 0px;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
p{
    color: gray;
    font-size: 13pt;
    line-height: 2;
}
.mainContainer{
    background-color: white;
    margin: 0px;
    display: flex;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    flex-direction: column;
}
@media screen and (max-width: 1200px){
    .mainContainer{
        width: 900px;
    }
}
@media screen and (max-width: 900px){
    .mainContainer{
        width: 600px;
    }
}
@media screen and (max-width: 600px){
    .mainContainer{
        width: 100%;
    }
}
/*header.html formating*
    /* logo format*/
        #headlogo{
            display: flex;
            justify-content: center;  
        }
        .logo-container{
            display: grid;
            width: 500px;
            place-items: center;
        }
        #rjlogo {
            height:140px;
            margin-top: 15px;
            grid-area: 1,1;
        }
        #header-info{
            grid-area: 2,1;
            text-align: center;
            display: block;
        }
        .noWrap{
            white-space: nowrap;
        }      

    /*Tabbar formating*/
        .tabbar{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
            font-size: 14pt;
        }
        .tabitem{
            position: relative;
            display: flex;
            cursor: pointer;
        }
        .tabitem a:hover{
            color: darkslategray;
        }
        .tabitem a{
            display: block;
            padding: 10px;
        }

    /* search bar styling*/
        .tabitem #search{
            position: relative;
            display: block;
            height: 40px; width: 40px;

            text-align: center;
            margin-top: auto; margin-bottom: auto;
            
            font-size: 20pt;
        }
        .tabitem #search span:active{
            background-color: whitesmoke;
            outline: 1px gray dashed;
        }
        .tabitem span{
            color: black;
            display: flex;

            width: 100%;
            height: 100%;

            align-items: center;
            justify-content: center;

            font-weight: bold;
        }
        .tabitem span:hover{
            color: gray;
        }
        #searchBox, #accountBox {
            display: none;
            position:absolute;
            top:120%;
            right:0;

            background-color: white;
            border: 1px black solid;

            min-width: 200px;
            padding: 10px;
            z-index: 999; /*forces it above other screen items*/
        }
        #searchBox.open{
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: 5px;
        }
        #searchBox #searchBar{
            margin-bottom: 8px;
            height: 25px;   
            width: 100%;     
            box-sizing: border-box;
        }
        #searchBox #execute{
            display: flex;
            height: 25px; width: 25px;

            padding: 0px;
            
            background: black;
            color: white;

            font-size: 12pt;
            
            align-items: center;
            justify-content: center;          
        }
        #searchBox #execute:hover{
            background-color: darkslategray;
        }
    /* end search bar styling*/

    /* cart icon styling */
        .tabitem #cartButton{
            position: relative;
            display: flex;
            height: 40px; width: 40px;

            justify-content: center;
            align-items: center;
            margin-top: auto; margin-bottom: auto;
        }
        .tabitem #cartIcon{
            width: 25px; height: 25px;
            fill: black;
        }
        .tabitem #cartCount[hidden]{
            display: none;
        }
        .tabitem #cartCount{
            position: absolute;

            top: 20px;
            right: -1px;

            height: 16px; width: 16px;
            padding: 2px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;
            background: white;

            font-size: 10pt;
            font-weight: bold;
        }
        .tabitem #cartButton:hover #cartIcon{
            fill: darkslategray;
        }
        .tabitem #cartButton:hover #cartCount{
            color: darkslategray;
        }

        #accountBox.open{
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: 5px;
        }

        #cartNavBox{
            display: none;
            position:absolute;
            top:120%;
            right:0;

            background-color: white;
            border: 1px black solid;

            padding-left: 10px; padding-right: 10px;

            z-index: 999; /*forces it above other screen items*/
        }
        #cartNavBox.open{
            display: flex;
            flex-direction: column;
            
        }
        #cartNavBox.open a{
            display: block;
            padding: 0;

            font-size: 12pt;
            
            white-space: nowrap;
        }


    /* end cart icon styling */

        #toast{
            position: fixed;

            bottom: 20px;
            right: 20px;

            display: flex;
            align-items: center;
            gap: 15px;

            padding: 15px 20px;

            background: white;
            border: 1px black solid;
            box-shadow: 0 8px 20px rbga(0,0,0,.2);

            z-index: 10000;

            transition: 
                opacity .3s ease,
                transform .3s ease;

            opacity: 1;
        }
        #toast[hidden] {
            display: none;
        }
        #toastClose{
            border: none;
            background: none;
            font-size: 16pt;
            cursor: pointer;
        }
        #toastClose:hover{
            color: darkslategray;
        }

    /* account icon styling */
        .tabitem #accountButton{
            position: relative;
            display: flex;
            height: 40px; width: 40px;

            justify-content: center;
            align-items: center;
            margin-top: auto; margin-bottom: auto;
        }
        .tabitem #accountIcon{
            width: 25px; height: 25px;
            fill: black;
        }
        .tabitem #accountButton:hover #accountIcon{
            fill: darkslategray;
        }
    /* end account icon styling */





        .tabbar a{
            color: black;
            text-decoration: none;
        }
    /*tabbar dropdown formating*/
        .dropdown {
            display: none;
            position:absolute;
            top:100%;
            left:0;

            background-color: white;
            border: 1px black solid;

            min-width: 150px;
            z-index: 1000; /*forces it above other screen items*/
        }
        .dropdown.left{
            left: auto;
            right: 0;
        }
        .dropdown a, .subdropdown a{
            display: block;
            padding: 0px 10px;
            
            font-size: 10pt;
            white-space: nowrap;
        }
        .dropdown a:hover, .subdropdown a:hover{
            background-color: whitesmoke;
        }
        .tabitem:hover .dropdown, .dropdownitem:hover .subdropdown{
            display: block;
        }
        .dropdownitem{
            position: relative;
        }
        .subdropdown{
            display: none;
            position:absolute;
            top:0;
            left:100%;

            background-color: white;
            border: 1px black solid;
            
            min-width: 150px;
            z-index: 1001; /*forces it above other screen items*/
        }
        .subdropdown.left{
            left: auto;
            right: 100%;
        }

    /*end tabbar formating*/
/***** end header and body ******/


/*footer format*/
    #footer-placeholder{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 90%;
        border-top: 1px gray solid;
        margin-top:30px;
        padding-top: 25px;
    }
    .footsections{
        display:flex;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        flex-wrap: wrap;
    }
    .footbox{        
        flex:1;
        min-width: 200px;
    }
    .footer a{
        color: gray;
        font-size: 13pt;
        line-height: 2;
        text-decoration: none;
    }
    .footer #credit{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .footer #copyright {
        margin-bottom: 10px;
        
        text-align: center;

        font-size: 10pt;
        color: gray;
    }
/*end footer format*/

/* Index/home page format */
    .disclaimer{
        align-self: center;
        width: 90%;
    }

    /* slideshow */
    .slidecontainer{
        overflow: hidden;
        width: 100%;
        margin-top:30px; 
    }
    .slideshow{               
        position: relative;   
        width:100%;
        overflow: hidden;
    }
    #track {
        display: flex;
        width: 100%;
        transition: transform 0.7s ease-in-out;   
    }
    .slide{
        min-width:100%;
        user-select: none;
    }
    .slide img{
        width: 100%;
        display: block;
    }
    #left, #right{
        position: absolute;
        top:50%;
        cursor: pointer;
        width: 4%;
    }
    #left{
        left:1%;
    }
    #right{
        left:95%;
    }
    @media screen and (max-width: 500px) {
        #left, #right{
            width: 8%;
        }
        #right{
            left: 91%;
        }      
    }
    /********* end slideshow************/
    .ad-container{
        display: flex;
        width:90%;
        margin-left:auto;
        margin-right:auto;                    
    }
    @media screen and (max-width: 800px){
        .ad-container{
            flex-direction: column;  
        }
    }
    .ads, .ads img{
        width:100%;
        height: fit-content;
    }
    #featured{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #featured #featured-title{
        margin-left:auto; margin-right: auto;
        margin-top: 50px;
        width: 90%;
        text-align: center;
        font-size: 25pt;
        border-top: 1px black solid; border-bottom: 1px black solid;
        padding-top:5px; padding-bottom:5px;
    }
    #featured-carousel{
        width: 100%;
        justify-content: center;
    }
    #featured-viewport{
        width: 90%;
        margin-left:auto; margin-right: auto;
        overflow: hidden;
    }
    #featured-track{
        width: 100%;
        margin-left: auto; margin-right: auto;

        justify-content: left;

        display: flex;
    }
    @media screen and (max-width: 500px) {
        #featured-track{
            padding: 1.5px;
            
        }
        #featured-track .item-card{
            flex: 0 0 175px;
            width: 175px;
            margin: 0px;
        }
    }
    #button-track{
        width: 90%;
        margin-left:auto; margin-right: auto;

        display: flex;
        flex-direction: row;

        justify-content: center;
    }

/*end index page format*/

/*info page format*/
    #infocontainer{
        width: 90%;
        margin-top: 30px;
        display: flex;               

        align-self: center;

        flex-direction: column;
    }
    #infocontainer #loose-stones-flyer{
        margin-left: 0px;
        width: 40%;
    }
    .infobox{
        width:100%;
        border-top: 1px black solid;
    }
    .infobox ul,ol, a{
        color: gray;
        font-size: 13pt;
        line-height: 2;
    }
    .infobox img{
        width:90%;
        display: block;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 10px;;              
    }
/*end info page format*/

/* cart page format */
    #cartContainer{
        width: 90%;
        margin-top: 30px;
        display: flex;               

        align-self: center;

        flex-direction: column;
    }
    #cartBox{
        width:100%;
        border-top: 1px black solid;
    }
    #itemTotal{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-areas: 
            "items subtotal"
            "items checkout";
        gap: 10px;
        align-items: start;
    }
    #cartItems, #subtotal{
        outline: 1px darkgray solid;
        padding: 10px;
        height: fit-content;
    }
    #cartItems{
        grid-area: items;
    }
    #subtotal{
        grid-area: subtotal;
        margin-bottom: 10px;
    }
    #checkout{
        grid-area: checkout;
        align-self: start;
        justify-self: start;
        width: 100%;
        height: 100%;
    }
    #checkoutButton{
        border: none;
        color: white;
        background: black;
        font-family: "playfair-display", serif;
        font-size: 15pt;

        width: 100%;
        height: 50px;
    }
    #checkoutButton:hover{
        background: darkslategray;
    }

    #shippingRow{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    #shippingMethod{
        width: fit-content;
        justify-self: end;
    }

    #pricing{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px 20px;
        margin-top: 20px;
        align-items: center;
    }
    #pricing span:nth-child(even),
    #pricing strong:nth-child(even){
        text-align: right;
    }

    .cartItem{
        display: grid;
        grid-template-columns: 125px 225px auto auto auto;
        gap: 10px;
        padding: 20px;
        border-bottom: 1px darkgray solid;
        align-items: start;
    }
    .cartItem .quantityControls .qLabel, .cartUnitPrice, .cartPrice{
        font-size: 13pt;
    }
    .cartItem .quantityControls .cartQuantity{
        height: 25px; width: 25px;
    }
    
    .cartImage img{
        object-fit: contain;  
        width: 100%;               
        height: 125px;
    }
    .cartInfo h4{
        margin: 0;
    }

    .cartRemove, .moveWish, .moveCart{
        border-radius: 0;
        border: 1px black solid;
        padding: 5px;
        background: white;
        font-family: 'Playfair Display', serif;
    }
    .cartRemove:hover, .moveWish:hover, .moveCart:hover{
        background: whitesmoke;
    }

    #emptyCart{
        margin: 10px;
        text-decoration: underline;
    }

    @media screen and (max-width: 1200px){
        #itemTotal{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "items" 
                "subtotal"
                "checkout";
        }
        #cartItems, #subtotal{
            width: 100%;
            min-width: 0;
            box-sizing: border-box;
        }
        #checkout{
            grid-area: checkout;
            margin: 0;
        }
    }
    @media screen and (max-width: 900px){
        #itemTotal{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "items" 
                "subtotal"
                "checkout";
        }
        #cartItems, #subtotal{
            width: 100%;
            min-width: 0;
            box-sizing: border-box;
        }
        .cartItem{
            display: grid;
            grid-template-columns: 125px auto auto;
            grid-template-areas: 
                "image info info"
                "price qty subt";
            align-items: start;
        }
        .cartImage{
            grid-area: image;
        }
        .cartInfo{
            grid-area: info;
        }
        .cartUnitPrice{
            grid-area: price;
        }
        .quantityControls{
            grid-area: qty;
        }
        .cartPrice{
            grid-area: subt;
        }

        #checkout{
            grid-area: checkout;
            margin: 0;
        }
    }

/* end cart page format */

/* wishlist page styling */
    #wishlistItems{
        margin-top: 10px;
        outline: 1px darkgray solid;
        padding: 10px;
        height: fit-content;
        width: 100%;
        min-width: 0;
        box-sizing: border-box;
    }

/* end wishlist page styling */

/* catalog page format*/
    #subheader{
        width:90%;
        margin-top:30px;
        margin-left: auto;
        margin-right: auto;
    }
    #product-content{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: left;
        gap: 20px;
    }
    #product-content{
        opacity: 1;
        transition: opacity 0.2s ease;
    }
    #tree-bar{    
        vertical-align:auto;

        background-color: whitesmoke;

        border-radius: 5px;
        margin-bottom: 40px;

        padding-left: 15px;
        padding-right: 15px;
    }
    #tree-bar a, strong{
        text-decoration: none;
        color: black;
        font-size: 14pt;
    }
    #tree-bar a:hover{
        color: gray;
    }
    #subheader h1{
        padding-bottom: 15px;
        border-bottom: 1px black solid;
    }
    #categories{
        display: flex;
        flex-wrap: wrap;
    }
    #categories #cat-header{
        min-width: 100%;
        margin-top: -5px;
    }
    #categories div{
        width:fit-content;
        height: fit-content;
        padding: 5px;
        margin: 5px;

        background-color: whitesmoke;
        border-radius: 5px;
    }
    #categories div a{
        text-decoration: none;
        color:gray;
    }
    #categories div a:hover{
        color:black;
    }    

            /*product setting format*/
            #content-settings{
                width: 90%;

                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-wrap: wrap;
            }
            #content-settings p{
                font-size: 13pt;
                color: black;
            }
            #content-settings div{
                margin:5px;
            }
            #content-settings .dropdown-container{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            select{
                border: 1px gray solid;
                border-radius: 0px;
                padding: 5px;
                background-color: white;

                font-family: 'Playfair Display', serif;
                color: darkslategray;
                font-size:10pt;              
            }
            #showcount{
                cursor: pointer;
            }
        /*end product settings*/
        /*product content display format*/
            .item-card{
                position: relative;

                flex: 0 0 250px;
                border-radius: 20px;
                outline: 2px solid gray;
                overflow: hidden;
                
                width: 250px;
                display: grid;

                justify-content: center;
                text-align: center;

                margin: 10px;                       
            }
            .item-card:hover{
                outline: 5px solid gray;
            }
            .item-card .item-card1{
                width: 100%;
                grid-area: 3,1;
            }
            .item-card1{
                position: relative;
            }
            .item-card .item-card2{
                min-height: 100px;
                max-width: 100%;
                min-width: 100%;

                justify-content: center;
                text-align: center;
                align-self: center;

                margin-right: auto;
                margin-left: auto;

                grid-area: 3,2;               
                font-size: 14pt;

                white-space: normal;
            }
            .item-card .item-card2 .price{
                color: gray;       
            }
            .item-card .item-card1 img{                
                object-fit: contain;  
                width: 100%;               
                height: 250px;
            }
            @media screen and (max-width: 500px) {
                #product-content, #featured-track{
                    grid-template-columns: repeat(auto-fit, 175px);
                    gap: 10px;
                }
                .item-card{
                    width: 175px;                  
                }
                .item-card .item-card2{            
                    font-size: 12pt;
                }
                .item-card .item-card1 img{                           
                    height: 175px;
                }
            }
            .ribbon{
                display: none;
            }
            .ribbon-sold, .ribbon-featured{
                position: absolute;

                top: 15px;
                right: -30px;

                width: 120px;

                transform: rotate(45deg);

                background: #960502;
                color: white;

                text-align: center;

                font-size: 11pt;
                font-weight: bold;

                padding: 4px 0;

                z-index: 2;

                pointer-events: none;
            }
            .ribbon-sold{
                background: black;
            }
            .quickViewBtn{
                position: absolute;
                display: none;

                left: 60px;
                top: 110px;

                z-index: 3;
                opacity: 80%;

                height: 40px;
                width: 50%;

                font-size: 12pt;

                border: 1px darkslategray solid;
                background: white;
                border-radius: 0;

                justify-self: center;

                cursor: pointer;
            }
            .item-card:hover .quickViewBtn{
                display: block;
            }
            .quickViewBtn:hover{
                color: gray;
            }
        /* end product content format*/
        /*page par format*/
            #pageBar{
                display: flex;
                width:90%;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
            }
            #pageBar div{
                border: 1px black solid;
                padding:5px;
                font-size: 14pt;
                width: fit-content;
            }
            .pageNumbers:hover, #prev:hover, #next:hover{
                background-color: whitesmoke;
                color: darkslategray;
            }
            #pageBar .pageNumbers{
                width: 25px;
                align-content: center;
                text-align: center;
            }
            .currentPage, .currentPage:hover{
                width: 25px;
                align-content: center;
                text-align: center;
                background-color: black;
                color: white;
            }
        /*end page bar format*/

        /* quick view formating */
            #quickViewContainer[hidden]{
                display: none;
            }
            #quickViewContainer{
                position: fixed;
                inset: 0;

                display: flex;
                justify-content: center;
                align-items: center;

                background: rgb(0 0 0 / 70%);

                z-index: 5000;
            }
            #quickViewWindow{
                position: relative;
                
                width: 60%;
                height: fit-content;

                padding-top: 40px;

                border: 1px solid black;
                border-radius: 20px;
                box-shadow: 0px 15px 50px rgba(0, 0, 0, 1);

                background: white;
            }
            #quickViewWindow #image{
                height: 350px;
            }
            #closeQuickView{
                position: absolute;

                border: none;
                background: none;

                right: 10px;
                top: 8px;

                font-size: 20pt;

                cursor: pointer;             
            }
            #closeQuickView:hover{
                color: gray;
            }
            #quickViewWindow #productStatus{
                margin-top: 50px;
            }
            @media screen and (max-width: 500px) {
                #quickViewWindow{
                    width: 80%;
                }
                #quickViewWindow #image{
                    height: 325px;
                }
                #quickViewWindow #descriptionScroll{
                    max-height: 100px;
                }
                #quickViewWindow #namePrice{
                    margin-top: -10px;
                }
            }
        /* end quick view formating */

        /*  side tab formatting */
            #side-tab{
                position: fixed;
                top: 150px;
                left: -265px;
                width: 250px;
                max-height: calc(100vh - 180px);
                background: white;
                transition: left 0.5s ease;
                z-index: 1000;
                outline: 2px black solid;
                padding: 5px;
            }

            #side-tab.open{
                left: 0;
            }

            #tab-handle{
                position: absolute;
                transform: rotate(-90deg);
                left: 221px;
                top: 40px;
                width: 100px;
                text-align: center;
                background: black;
                opacity: 0.6;
                color: white;
                padding: 10px;
                cursor: pointer;               
            }

            #cat-description:empty{
                margin-top: 0px;
            }
            #cat-description:not(:empty){
                margin-top: 10px; 
                font-size: 14pt;
            }

            #side-tab #sortContainer{
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-height: calc(100vh - 220px);
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 6px;
            }

            /* top level */
            #side-tab #view-sort fieldset,
            #side-tab #price-sort fieldset{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            #side-tab input{
                cursor: pointer;
            }

            #side-tab label{
                cursor: pointer;
                font-size: 13pt;
            }

            #side-tab legend {
                font-size: 15pt;
            }

            /* attribute section */ 
            #attribute-content,
            #attribute-content .attGroupItems,
            #attribute-content .attNode{
                display: flex;
                flex-direction: column;
                gap: 8px;            
            }

            #attribute-content .attChildren{
                display: none;
                flex-direction: column;
                gap: 8px;
                padding-left:20px;
            }   

            #attribute-content .attNode.open > .attChildren{
                display: flex;
            } 

        /* end of side tab formatting*/

/* end catalog page format*/

/* product page formatting */
            #productContainer{
                width:90%;
                margin-right: auto;
                margin-left: auto;               
            }
            #productInfo{
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: auto 1fr;
                grid-template-areas: 
                    "image title"
                    "image info"
                    "image cart";
                align-items: start;
            }
            #image{
                width: fit-content;
                height: 500px;
                aspect-ratio: 1/1;
           
                border: 1px black dashed;
                align-content: center;
                grid-area: image;
            }
            #productImg{
                object-fit: contain;   
                width: 100%;
                height: 100%;        
            }
            #productName{
                border-bottom: 1px black dashed;
                padding-bottom: 5px;
                grid-area: title;
            }
            #productStatus{
                margin-top: 100px;
            }
            #namePrice, #productName, #addCartList{
                margin-left: 50px;
                margin-top: 0px;
                width: 90%;
            }
            #namePrice{
                grid-area: info;
            }
            #addCartList{
                grid-area: cart;

                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            #cartRow{
                display: flex;
                align-items: center;
            }
            .quantityControls[hidden]{
                display: none !important;
            }
            .quantityControls{
                display: flex;
                align-items: center;
                gap: 5px;
            }
            .stackButtons{
                align-items: flex-start;
            }
            .stackButtons #addToCart{
                align-self: flex-start;
            }
            .qLabel{
                font-size: 15pt;
            }
            .decrease, .increase{
                height: 30px; width: 30px;
                border-radius: 0;
                border: none;
                background: none;
                font-size: 15pt;
                font-weight: bold;
            }
            .increase{
                margin-right: 5px;
            }
            .cartQuantity{
                height: 30px; width: 30px;
                display: flex;
                outline: 1px black solid;
                justify-content: center;
                align-items: center;
            }
            #addToWish{
                grid-area: addList;
            }
            #addToCart, #addToWish, #viewFull{
                height: 30px;
                width: 120px;
                border-radius: 0px;
                background: black;
                color: white;
                font-size: 12pt;
                font-family: 'Playfair Display', serif;
                border: none;
            }

            #addToWish, #viewFull{
                outline: 1px black solid;
                background: white;
                color: black;
            }

            #addToCart:hover{
                background: darkslategray;
                cursor: pointer;
            }
            #addToWish:hover, #viewFull:hover{
                background: whitesmoke;
                cursor: pointer;
            }
            .decrease:hover, .increase:hover{
                color: darkslategray;
                background: whitesmoke;
                cursor: pointer;
            }



            #descriptionScroll{
                max-height: 200px;
                padding: 10px;
                padding-top: 0px;
                overflow-y: auto;
                border-bottom: 2px black dotted;
                border-top: 2px black dotted;
            }
            #priceDiv h3{
                color: gray;
            }
            #imgBar{
                display: flex;
                text-align: center;
                height: 60px;
            }
            #imgLibrary{
                display: flex;
                margin-right:auto; margin-left: auto;
                height: 100%;
                width: 200px;
                overflow: hidden;                
            }
            #imgLibrary img{
                width: 60px;
                height: 60px;               
            }
            #imgTrack{
                gap: 10px;
                display: flex;
                transition: transform 0.7s ease-in-out;
                margin-left: auto;
                margin-right: auto;
            }
            #imgTrack img{
                cursor: pointer;
                width: 60px;
                height: 60px;

                flex: 0 0 auto;

                object-fit: contain;
                
            }
            .arrow{
                display: block;
                cursor: pointer;
                align-self: center;
                border-radius: 360px;

                text-align: center;
                align-content: center;

                margin: 10px;

                width: 40px; height: 40px;
                
                background: lightgray;
                color:whitesmoke;

                font-size: 20pt;
                user-select: none;
            }
            
            .arrow:hover{
                background: gray;              
            }
            @media screen and (max-width: 900px) {
                #productContairner{
                    display: flex;
                }
                #productInfo{
                    grid-template-columns: 1fr;
                    grid-template-areas: 
                        "title"
                        "image"
                        "info"
                        "cart";
                }
                #image{
                    height: 350px;
                    margin: auto;
                }

                #productName{
                    border-bottom: 1px black dashed;
                    padding-bottom: 5px;
                    margin-left: 0px;
                    width: 100%;
                }
                #namePrice{
                    margin-left: 0px;
                    margin-top: 50px;
                    width: 100%;
                }
                #addCartList{
                    grid-area: cart;
                    
                    margin-left: 0px;
                    margin-top: 50px;
                    width: 100%;
                }
                #descriptionScroll{
                    max-height: 200px;
                    padding: 10px;
                    padding-top: 0px;
                    overflow-y: auto;
                    border-bottom: 2px black dotted;
                    border-top: 2px black dotted;
                }
                #productStatus{
                    margin-top: 50px;
                }
                #imgBar{
                    display: flex;
                    text-align: center;
                    height: 60px;
                }
                #imgLibrary{
                    display: flex;
                    width: 200px;             
                }
                #imgLibrary img{
                    width: 60px;
                    height: 60px;               
                }
                #imgTrack{
                    gap: 10px;
                }
                #imgTrack img{
                    cursor: pointer;
                    width: 60px;
                    height: 60px;

                    flex: 0 0 auto;

                    object-fit: contain;                   
                }
                
                .arrow{
                    margin: 10px;

                    width: 40px; height: 40px;               

                    font-size: 20pt;
                }
            }

/* end product page formating */


/* cosmetic classes*/

.fadedtype{
    font-style: italic;
    color: gray;
    font-size: 12pt;
}

@media screen and (max-width: 1000px){
    .ads img{
        height: 150px;
    }
}